# Copie este arquivo para ".env" e ajuste se necessário.

# true  -> grava os dados no MinIO (S3-compatível)
# false -> grava em disco local, na pasta ./data (mais simples pra testar sem Docker)
USE_MINIO=false

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
